{% extends "main_page.html" %}

{% block content %}
<div class="chart-group">

<div id="chart-all" style="margin:20px auto 10px auto;width:100%;height:400px;
	display:'{% if ctype == 'all' %} block {% else %} none {% endif %} ' "></div>

<div id="chart-in-to-out" style="margin:20px auto 10px auto;width:100%;height:400px;
	display:'{% if ctype == 'in-to-out' %} block {% else %} none {% endif %} ' "></div>

<div id="chart-out-to-in" style="margin:20px auto 10px auto;width:100%;height:400px;
	display:'{% if ctype == 'out-to-in' %} block {% else %} none {% endif %} ' "></div>

<div id="chart-in-to-in" style="margin:20px auto 10px auto;width:100%;height:400px;
	display:'{% if ctype == 'in-to-in' %} block {% else %} none {% endif %} ' "></div>

<div id="chart-out-to-out" style="margin:20px auto 10px auto;width:100%;height:400px;
	display:'{% if ctype == 'out-to-out' %} block {% else %} none {% endif %} ' "></div>

</div>
{% endblock %}