<html lang="en">
<head>
	<meta charset="utf-8">
		<title>Tsinghua</title>
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  
	<link rel="stylesheet" href="/media/bootstrap2.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/media/bootstrap2.3.2/css/doc.css">
    <!-- <link rel="stylesheet" href="/media/bootstrap2.3.2/css/bootstrap-responsive.css"> -->
    <link href="/media/bootstrap2.3.2/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/media/bootstrap2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/media/bootstrap2.3.2/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/media/bootstrap2.3.2/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>

    <script src="/media/bootstrap2.3.2/js/ip_draw_master_detail_charts.js"></script>
    <script src="/media/bootstrap2.3.2/js/highcharts.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/media/bootstrap2.3.2/js/ipfix.js"></script>


</head>
<body>
	<h3>Tsinghua University Campus Network Anomaly Detection System</h3>
	Select Begin Time   <input class="form_datetime" type="text" style="margin-top:10px;height:32px" readonly="" placeholder="start time">
	Select End Time   <input class="end_form_datetime" type="text" style="margin-top:10px;height:32px" readonly="" placeholder="end time">
	<button class="btn" id="draw">Draw!</button>
	<div class="row">
		   <div class="span4">
		   		<ul class="nav nav-list bs-docs-sidenav">
		   			<li>
		   				<a href="#typography">
							<i class="icon-chevron-right"></i>
							All
						</a>
		   			</li>
		   			<li><a href="#typography">
							<i class="icon-chevron-right"></i>
							in-to-out
						</a></li>
		   			<li><a href="#typography">
							<i class="icon-chevron-right"></i>
							out-to-in
						</a></li>
		   			<li><a href="#typography">
							<i class="icon-chevron-right"></i>
							in-to-in
						</a></li>
		   			<li><a href="#typography">
							<i class="icon-chevron-right"></i>
							out-to-out
						</a></li>
		   		</ul>
		   </div>
		   <div class="span8">
		   		<div id="chart" style="margin:20px auto 10px auto;width:100%;height:400px"></div>
		   </div>
	</div>
</body>

<script type="text/javascript">

$(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii',autoclose:true,todayBtn:true});
$(".end_form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii',autoclose:true,todayBtn:true});



</script>


</html>